Repository piotr-semenov/parigp-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: jsonlint, yamllint, xmllint, vagrant-validate

.pre-commit-config.yaml:

---
repos:
  # print all arguments passed to pre-commit
  - repo: meta
    hooks:
      - id: identity
  # general
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-case-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # git
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
  # json
  - repo: https://gitlab.com/bmares/check-json5
    rev: v1.0.0
    hooks:
      - id: check-json5
        files: '.*\.(json|JSON-tmLanguage)'
  - repo: local
    hooks:
      - id: jsonlint
        name: lints json
        entry: jsonlint --nonstrict
        language: system
        files: '.*\.(json|JSON-tmLanguage)'
  # yaml
  - repo: local
    hooks:
      - id: yamllint
        name: lints yaml
        entry: yamllint
        language: system
        files: '.*\.(yaml|YAML-tmLanguage)'
  # xml
  - repo: local
    hooks:
      - id: xmllint
        name: lints xml
        entry: xmllint --valid --noout
        language: system
        files: '.*\.tmLanguage$'
  # markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
  # Makefile
  - repo: https://github.com/mrtazz/checkmake
    rev: 0.2.2
    hooks:
      - id: checkmake
  # Vagrantfile
  - repo: local
    hooks:
      - id: vagrant-validate
        name: validates Vagrantfile
        entry: vagrant validate
        language: system
        files: 'Vagrantfile'

chore: nix flake init && nix flake check
  flake.lock
  flake.nix
Due: none

chore: declare a build machine by nix flake
  flake.lock
  flake.nix
Due: none

chore: declare nix shell + add vagrant provision for dev env
  Vagrantfile
  shell.nix
Due: vagrant-validate

chore: use gnu sed and gnu xargs
  Makefile
Due: none

chore: let github-linguist to know there is no vendored code in my repo
  .gitattributes
Due: none

chore: want github-linguist to recognize YAML-tmLanguage files
  .gitattributes
Due: none

chore: refactor, DRY
  flake.nix
Due: none

chore: add statix linter for nix
  Vagrantfile
  shell.nix
Due: vagrant-validate

chore: add github action to cont. delivery the TextMate grammar
  .github/workflows/flake.yml
Due: none

chore: add github action for pre-commit hooks
  .github/workflows/pre-commit.yml
Due: none

fix: unsupported github action runner
  .github/workflows/flake.yml
Due: none

fix: bad env for github runner
  .github/workflows/flake.yml
Due: none

fix: gpg-signed auto-commit only from syntaxes/
  .github/workflows/flake.yml
  .github/workflows/pre-commit.yml
  Vagrantfile
Due: vagrant-validate

auto-commit of artifacts
  syntaxes/parigp.JSON-tmLanguage
  syntaxes/parigp.YAML-tmLanguage
  syntaxes/parigp.tmLanguage
Due: jsonlint, yamllint, xmllint

feat: add section for built-in functions
  Makefile
  src/functions.YAML-tmLanguage.j2
  src/main.YAML-tmLanguage
Due: yamllint

feat: combine into Jinja2 environment json + populate function section with more patterns
  .github/workflows/flake.yml
  Makefile
  flake.nix
  src/functions.YAML-tmLanguage.j2
Due: yamllint

chore: update .vscodeignore, ignore all files except the necessary ones
  .vscodeignore
Due: none

feat: add recipe for parigp.sublime-tooltip
  Makefile
Due: none

chore: update package manifest for vscode
  .github/workflows/pre-commit.yml
  Vagrantfile
  language-configuration.json
  package.json
Due: jsonlint, vagrant-validate

auto-commit of artifacts
  syntaxes/parigp.JSON-tmLanguage
  syntaxes/parigp.YAML-tmLanguage
  syntaxes/parigp.tmLanguage
  syntaxes/parigp.tmLanguage.json
Due: jsonlint, yamllint, xmllint

fix: jq's operator inputs skips the file's head line + add test for functions
  Makefile
  tests/Functions.test.gp
Due: none

chore: add regex/tests for lambda definition of user functions
  src/functions.YAML-tmLanguage.j2
  src/main.YAML-tmLanguage
  tests/Functions.test.gp
Due: yamllint

chore: more user-friendly names for GitHub jobs
  .github/workflows/build-packages.yml
  .github/workflows/pre-commit.yml
Due: none

chore: add section + tests for literals in PARI/GP
  src/literals.YAML-tmLanguage
  src/main.YAML-tmLanguage
  tests/Literals.test.gp
Due: yamllint

chore: split functions section into sub-sections for user/built-ins
  src/functions.YAML-tmLanguage.j2
Due: yamllint

chore: add string sub-section to literals
  src/literals.YAML-tmLanguage
  tests/Literals.test.gp
Due: yamllint

chore: add operators section
  src/main.YAML-tmLanguage
  src/operators.YAML-tmLanguage
  tests/Operators.test.gp
Due: yamllint

chore: operators \' and \~ are context-free in PARI/GP + turn test filenames into lower case
  src/operators.YAML-tmLanguage
  tests/comments.test.gp
  tests/functions.test.gp
  tests/literals.test.gp
  tests/operators.test.gp
Due: yamllint

chore: update list of operators + enrich tests
  src/general.YAML-tmLanguage
  src/main.YAML-tmLanguage
  src/operators.YAML-tmLanguage
  tests/functions.test.gp
Due: yamllint

chore: generalizes retrieval of PARI/GP lang. items
  Makefile
Due: none

chore: add code groups and code sections
  src/general.YAML-tmLanguage
  src/main.YAML-tmLanguage
Due: yamllint

chore: add YAML section for type hints
  src/main.YAML-tmLanguage
  src/operators.YAML-tmLanguage
  src/type-hints.YAML-tmLanguage.j2
Due: yamllint

fix: vscode error, no TM grammar registered for this language
  package.json
  src/main.YAML-tmLanguage
Due: jsonlint, yamllint

fix: wrong scope for parens
  src/main.YAML-tmLanguage
Due: yamllint

fix: bad vsix package
  .vscodeignore
  package.json
  src/main.YAML-tmLanguage
Due: jsonlint, yamllint
