Repository piotr-semenov/parigp-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: jsonlint, yamllint, xmllint, vagrant-validate

jsonlint:
  name: lints json
  entry: jsonlint --nonstrict
  language: system

yamllint:
  name: lints yaml
  entry: yamllint
  language: system

xmllint:
  name: lints xml
  entry: xmllint --valid --noout
  language: system

vagrant-validate:
  name: validates Vagrantfile
  entry: vagrant validate
  language: system

chore: add parigp suffix to all scope names
  src/functions.YAML-tmLanguage.j2
  src/general.YAML-tmLanguage
  src/literals.YAML-tmLanguage
  src/operators.YAML-tmLanguage
  src/type-hints.YAML-tmLanguage.j2
Due: yamllint

chore: update tests
  .pre-commit-config.yaml
  src/functions.YAML-tmLanguage.j2
  src/literals.YAML-tmLanguage
  src/operators.YAML-tmLanguage
  tests/functions.test.gp
  tests/literals.test.gp
  tests/operators.test.gp
Due: yamllint

auto-commit of artifacts
  syntaxes/parigp.JSON-tmLanguage
  syntaxes/parigp.YAML-tmLanguage
  syntaxes/parigp.tmLanguage
  syntaxes/parigp.tmLanguage.json
Due: jsonlint, yamllint, xmllint

chore: update tests for PARI/GP operators
  src/general.YAML-tmLanguage
  src/operators.YAML-tmLanguage
  tests/operators.test.gp
Due: yamllint

chore: add MIT license
  .pre-commit-config.yaml
  .vscodeignore
  LICENSE.md
Due: yamllint

fix: for license file, improve similarity with MIT from 90.29% upto 100% with github.com/licensee repo
  LICENSE.md
Due: none

fix: resolve GitHub action warning "Node.js 16 actions are deprecated"
  .github/workflows/build-packages.yml
  .github/workflows/pre-commit.yml
Due: none

chore: fetch coverge badge reference
  images/coverage-badge.svg
Due: none

chore: CI/CD pipeline for TM grammar coverage badge
  .github/workflows/coverage-badge.yml
  .github/workflows/pre-commit.yml
  Makefile
  README.md
  images/coverage-badge.svg
  scripts/coverage-badge.xsl
Due: none

chore: parse function parameter list
  src/functions.YAML-tmLanguage.j2
Due: yamllint

chore: optimize the comment scope
  .github/workflows/coverage-badge.yml
  src/comments.YAML-tmLanguage
Due: yamllint

chore: optimize user-defined function def scope + add complex test cases
  .github/workflows/build-artifacts.yml
  .github/workflows/coverage-badge.yml
  .github/workflows/pre-commit.yml
  src/functions.YAML-tmLanguage.j2
  src/general.YAML-tmLanguage
  src/main.YAML-tmLanguage
  src/operators.YAML-tmLanguage
  src/type-hints.YAML-tmLanguage.j2
  tests/comments.test.gp
  tests/functions.test.gp
  tests/operators.test.gp
Due: yamllint

auto-commit of artifacts
  images/coverage-badge.svg
  syntaxes/parigp.JSON-tmLanguage
  syntaxes/parigp.YAML-tmLanguage
  syntaxes/parigp.tmLanguage
  syntaxes/parigp.tmLanguage.json
Due: jsonlint, yamllint, xmllint

chore: support user-defined member functions
  src/functions.YAML-tmLanguage.j2
  src/operators.YAML-tmLanguage
  tests/functions.test.gp
Due: yamllint

chore: support meta-commands + add tests
  Makefile
  src/main.YAML-tmLanguage
  src/support.YAML-tmLanguage.j2
  tests/other.test.gp
Due: yamllint

fix: improve coverage + resolve bad rules ordering
  Makefile
  src/functions.YAML-tmLanguage.j2
  src/operators.YAML-tmLanguage
  tests/functions.test.gp
  tests/other.test.gp
Due: yamllint

fix: relax string quotes to the limit
  src/comments.YAML-tmLanguage
  src/functions.YAML-tmLanguage.j2
  src/literals.YAML-tmLanguage
  src/main.YAML-tmLanguage
Due: yamllint

auto-commit of artifacts
  syntaxes/parigp.YAML-tmLanguage
Due: yamllint

fix: support anonymous lambdas, ensure balanced parentheses for parameter list, closes #1
  Makefile
  src/functions.YAML-tmLanguage.j2
  src/main.YAML-tmLanguage
  src/operators.YAML-tmLanguage
  tests/other.test.gp
Due: yamllint

chore: minor improvements of grammar and tests
  src/functions.YAML-tmLanguage.j2
  src/main.YAML-tmLanguage
  src/operators.YAML-tmLanguage
  tests/comments.test.gp
  tests/functions.test.gp
  tests/literals.test.gp
  tests/operators.test.gp
  tests/other.test.gp
Due: yamllint

chore: rearrange testcases + mark real-world scripts as new testcases
  Makefile
  src/functions.YAML-tmLanguage.j2
  src/literals.YAML-tmLanguage
  src/operators.YAML-tmLanguage
  tests/functions.test.gp
  tests/operators.test.gp
  tests/other.test.gp
  tests/others/gaussnb.test.gpi
  tests/others/matchop.test.gpi
  tests/others/stackoverflow_65401338.test.gp
  tests/others/stackoverflow_67286398.test.gp
  tests/others/stackoverflow_72443498.test.gp
  tests/others/subgroups.test.gp
Due: yamllint

fix: nix flake build freezes in github action, so try to extend build space of vm
  .github/workflows/build-artifacts.yml
  .github/workflows/pre-commit.yml
  Vagrantfile
  shell.nix
Due: vagrant-validate

fix: try to switch CI/CD to ubuntu github-hosted runner
  .github/workflows/build-artifacts.yml
  Vagrantfile
  flake.nix
  nixpkgs.nix
  scripts/compile-grammar.sh
  shell.nix
Due: vagrant-validate

chore: add shellcheck for bash scripts
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  scripts/compile-grammar.sh
Due: yamllint

fix: closes #2, set my bot as auto-commit author
  .github/workflows/build-artifacts.yml
  .github/workflows/pre-commit.yml
  src/operators.YAML-tmLanguage
  tests/operators.test.gp
Due: yamllint

chore: capture whitespaces for meta-commands
  src/support.YAML-tmLanguage.j2
  src/type-hints.YAML-tmLanguage.j2
  tests/functions.test.gp
  tests/others/subgroups.test.gp
Due: yamllint

chore: optimize tmLanguage
  .github/workflows/build-artifacts.yml
  src/main.YAML-tmLanguage
Due: yamllint

chore: update README layout + add contact links
  .github/ISSUE_TEMPLATE/config.yml
  README.md
Due: none

chore: add templates for bug/feature issues
  .github/ISSUE_TEMPLATE/1-bug.yml
  .github/ISSUE_TEMPLATE/2-feature.yml
  .pre-commit-config.yaml
  README.md
Due: yamllint

fix: remove nested repositories/patterns, make look-behinds to be fixed-width, closes #3
  src/comments.YAML-tmLanguage
  src/functions.YAML-tmLanguage.j2
  src/literals.YAML-tmLanguage
  src/operators.YAML-tmLanguage
Due: yamllint

fix: use contentName while calculate coverage
  Makefile
Due: none

chore: force to run checkPhase (not triggered by default)
  scripts/compile-grammar.sh
Due: none

fix: fail github workflow job if checkPhase failed
  .github/workflows/build-artifacts.yml
Due: none

fix: use GNU xargs instead of BSD version
  Makefile
Due: none

Path conditions:
  jsonlint: any of: .*\.(json|JSON-tmLanguage)
  yamllint: any of: .*\.(yaml|YAML-tmLanguage)
  xmllint: any of: .*\.tmLanguage$
  vagrant-validate: any of: Vagrantfile
